<div class="col-6 main-container">
  <form class="modal-content animate" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" formControlName="userName" placeholder="Enter Username" name="uname" required>
      <!-- <div class="error-msg" *ngIf="userName.errors.required && submitted && userName.invalid">User Name is required</div> -->
      <div *ngIf="userName.invalid && submitted" class="error-msg">
        <div *ngIf="userName.errors.required"> Name is required. </div>
      </div>
      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>
      <div *ngIf="password.invalid && submitted" class="error-msg">
        <div *ngIf="password.errors.required "> Password is required. </div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>

      <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        <span class="sign-up">New user <a href="#" routerLink="/register">Sign Up</a></span>
      </label>
    </div>
  </form>
</div>